<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>D2R 아이템 중계소</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
    </head>
    <body>
        <div class="d-flex bg-dark" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-dark" id="sidebar-wrapper">

            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            	<li class="nav-item"><a class="nav-link disabled" id="itembattletag" ></a></li>
                            	<li class="nav-item active"><a class="nav-link" th:href="@{/}">홈</a></li>
                                <li class="nav-item active"><a class="nav-link" th:href="@{/search}">검색</a></li>
                                <li class="nav-item active"><a class="nav-link" th:href="@{/insert}">물품등록</a></li>
                                <li class="nav-item active"><a class="nav-link" th:href="@{/mypage}">마이페이지</a></li>
                                <li class="nav-item"><a id = "login_logout_link"class="nav-link"></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </nav>
		   
		   <div class="container" id= "container">
		   		<!--#search bar-->
		   		<datalist id="statfilter1mod"></datalist>
				<datalist id="namesearchoption"></datalist>
				<datalist id="statfilter2mod"></datalist>
				<datalist id="statfilter2skill"></datalist>
				<datalist id="runewordname"></datalist>
				
			    <div class="row">
			        <div class="col-md-8">
							<input class="form-control" list="" id="name-search-bar1" placeholder="검색 할 아이템 이름을 입력해주세요.">
								
							
							
					</div>
			        
			        <div class="col-md-2">

			        		<select class="form-select" id = "ladderhardcoreinput" data-width="100%" >
							<!--<option value="래더">래더</option>	
							<option value="하드코어 래더">하드코어 래더</option>-->
							<option value="스탠다드">스탠다드</option>
							<option value="하드코어 스탠다드">하드코어 스탠다드</option>
							</select>
			        </div>
			        
			    </div>
			    <div class="row">
			        		<p class="text-light fs-2 "></p>
			    </div>
			    <!--#category-->
			    <div class="row">
			        <div class="col-md-6">
			        
						<div class="row">	
								        
			        	<div class="col">
			        	  
			        		<p class="text-light fs-3 ">카테고리</p>
			        	</div>
			        	<div class="col-6">
			        	
			        		<input class="form-control" list="datalistOptions4" id="categoryinput" placeholder="ex) 부적">
									<datalist id="datalistOptions4">
									<option value="철퇴">
									<option value="도끼">
									<option value="도검">
									<option value="단도">
									<option value="투창">
									<option value="창">
									<option value="활">
									<option value="지팡이">
									<option value="미늘창">
									<option value="쇠뇌">
									<option value="도검">
									<option value="룬">
									<option value="부적">
									<option value="보석">
									<option value="투구">
									<option value="갑옷">
									<option value="방패">
									<option value="장갑">
									<option value="허리띠">
									<option value="신발">
									<option value="없음">
								</datalist>
			    		</div>
			    		</div>
			    	</div>
			    	
			        <div class="col-md-6">
			        
			        </div>
			    </div>
			    
			    
			    <!--#rarity-->
			    <div class="row">
				    <div class="col-md-6">
				        
						<div class="row">			        
			        	<div class="col">
			        		<p class="text-light fs-3 ">희귀도</p>
			        	</div>
			        	<div class="col">
			        			<input class="form-control" list="datalistOptions5" id="rarityinput" placeholder="ex) 노말">
			        			
								<datalist id="datalistOptions5">
									<option value="노말">
									<option value="매직">
									<option value="희귀">
									<option value="고유">
									<option value="세트">
									<option value="제작">
									<option value="룬어">
									<option value="없음">
								</datalist>
			    		</div>
			    		</div>
			    	</div>
			    	
			        <div class="col-md-6">
			        
			        </div>
			    </div>
			    <!--#count-->
			    <div class="row">
				    <div class="col-md-6">
				        
						<div class="row">			        
			        	<div class="col">
			        		<p class="text-light fs-3 ">최소 수량</p>
			        	</div>
			        	<div class="col">
			        		 <input class="form-control" id="countinput" placeholder="ex) 1" aria-describedby="개수 설정하는 칸">
			
			    		</div>
			    		</div>
			    	</div>
			    	<!--#스탯 필터?-->
			        <div class="col-md-6">
			        
			        </div>
			    </div>
			    <!--#교환 수단-->
			    <div class="row">
				    <div class="col-md-6">
				        
						<div class="row">			        
			        		<div class="col">
				        		<p class="text-light fs-3 ">교환 수단</p>
			        		</div>
			        		<div class="col">
			        		
			        			<input class="form-control" id="sellinput" list="datalistOptions7"  placeholder="ex) 룬" aria-describedby="개수 설정하는 칸">
			        		 	<datalist id="datalistOptions7">
									<option value="골드">
									<option value="룬">
									<option value="아무거나">
								</datalist>
								        		 
			        		  
			    			</div>
			    		</div>
			    	</div>
			    	<!--#스탯 필터?-->
			        <div class="col-md-6">
			        
			        </div>
			    </div>
			   			    <div class="row">
				    <div class="col-md-10">
				        
						<div class="row">			        
				        	<div class="col-md-2">
								<button type="button" class="btn btn-light" id="stat-filter-button">+스탯 필터</button>
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-light" id="stat-filter-button2">+스탯 필터2</button>
				    		</div>
				    		<div class="col-md-2">
								<button type="button" class="btn btn-light" id="runwordbar-button">+룬워드 필터</button>
				    		</div>
				    		<div class="col-md-2">
								<button type="button" class="btn btn-light" id="namefilter-button">이름필터 로딩</button>
				    		</div>
				    		<div class="col-md-2">
								<button type="button" class="btn btn-light" id="filterreset-button">필터 리셋</button>
				    		</div>
			    		</div>
			    	</div>
			    </div>
			    <div class="row">
			    <p> </p>
			    </div>
   			    <div class="row" id = "stat-filter-div">			    
				</div>
				<p> </p>
				<div class="row">
			    				<button type="button" class="btn btn-light" id="search-button">검색</button>
			    </div>
			    <p> </p>
			    <!--return search item table -->
       			<div class="row" id = "tablerow">
       				<table class="table table-dark table-hover table-striped table-bordered"id = "searchitemtable">
       				  <thead>
						    <tr>
						      <th scope="col">판매자 계정</th>
						      <th scope="col">아이템 옵션</th>
						      <th scope="col">아이템 수량</th>
						      <th scope="col">등록일자 및 판매자 코멘트</th>
						      <th scope="col">가격</th>
						      <th scope="col">귓속말</th>
						    </tr>
       				  </thead>
       				  </table>
       			</div>
       		
        </div>
        </div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://d18zq3onvlr5bf.cloudfront.net/d2rlistjson.js"></script>

		<script>
		
		var address = "http://114.207.147.202:8080";
		
		var login_logout_nav= document.getElementById("login_logout_link");
		var item_battletag= document.getElementById("itembattletag");		

		/*<![CDATA[*/ 
		var login_var = '[[${logintrigger} ]]'+'';
		var logout_href = '[[ @{/logout} ]]'+'';
		var login_href = '[[ @{/login} ]]'+'';
		var battletag = '[[ ${battletag} ]]'+'';
		/*]]*/

		if(login_var =='login')
		{
			
			login_logout_nav.href=login_href;
			login_logout_nav.innerText='로그인';
		}else
		{
			login_logout_nav.href=logout_href;
			login_logout_nav.innerText='로그아웃';
			item_battletag.innerText= battletag;
		}
		


		
		var statfilter1list = document.getElementById('statfilter1mod');
		var statfilter2list = document.getElementById('statfilter2mod');
		var statfilter2skilllist = document.getElementById('statfilter2skill');
		var namesearchlist = document.getElementById('namesearchoption');
		var runewordnamelist = document.getElementById('runewordname');
		statfilter_mod.forEach(function(item){
   			var option = document.createElement('option');
   			option.value = item.kokr;
   			statfilter1list.appendChild(option);	
		});
		statfilter2_mod.forEach(function(item){
   			var option = document.createElement('option');
   			option.value = item.kokr;
   			statfilter2list.appendChild(option);	
		});
		statfilter2_skill.forEach(function(item){
   			var option = document.createElement('option');
   			option.value = item.kokr;
   			statfilter2skilllist.appendChild(option);	
		});
		
		namesearch.forEach(function(item){
   			var option = document.createElement('option');
   			option.value = item.kokr;
   			namesearchlist.appendChild(option);	
		});
   		
   		runewordname.forEach(function(item){
   			var option = document.createElement('option');
   			option.value = item.kokr;
   			runewordnamelist.appendChild(option);	
		});
   		
   		
   		
   		var namesearchbar = document.getElementById('name-search-bar1');
   		namesearchbar.setAttribute('list','namesearchoption');
		
		
		
		var t = document.getElementById('stat-filter-button');
	    t.addEventListener('click', function(event){
		
	        Createstatbar('','','');
	    });
	    var t2 = document.getElementById('stat-filter-button2');
	    t2.addEventListener('click', function(event){
		
	        Createstatbar2('','','');
	    });
	    var searchbtn = document.getElementById('search-button');
	    searchbtn.addEventListener('click', function(event){
		
			search();
	    });
	    
	    var runewordbarbtn = document.getElementById('runwordbar-button');
	    runewordbarbtn.addEventListener('click', function(event){
		
			runewordbar();
	    });
	    var filterresetbtn = document.getElementById('filterreset-button');
	    filterresetbtn.addEventListener('click', function(event){
		
			removestats();
	    });
	    //filterreset-button
	   	var namefilterdbtn = document.getElementById('namefilter-button');
	    namefilterdbtn.addEventListener('click', function(event){
			var itemid="";
			//////console.log(namesearchbar.value);
			if(namesearchbar.value!=null)
			{
				namesearch.forEach(function(item)
				{
					if(namesearchbar.value==item.kokr)
					{
						
						itemid=item.id;
						////console.log(item.id);
						ajaxgetfilter(itemid);
						return false;
					}	
				}
				);	
			}
	    });
	    
	    
	    //스탯필터1
		var cnt1 = 1;
		//스탯핉러2
		var cnt2 = 1;
	    
	    function search()
	    {
			var name = document.getElementById("name-search-bar1");
			var argument = ""
			////console.log(name.value);
			
			
			if(name.value!='')
			{
				namesearch.forEach(function(item)
				{
					if(name.value==item.kokr)
					{
						////console.log(item.id);
						argument = argument+"itemname "+item.id+"!";
						return false;
					}
					
				}
					
				);	
			}
			
			
			
			
			var tid = document.getElementById("runewordbar1");
			if(runewordcnt==1)
			{
				tid = document.getElementById("runewordbar1");
				runewordname.forEach(function(item)
				{
					if(tid.value==item.kokr)
					{
						argument = argument+"runewordname "+item.id+"!";
						////console.log('runewordname'+item.id);
					}
				});	
				
			}
			
			tid = document.getElementById("categoryinput");
			if(tid.value!=null&&tid.value!='')
			{
				argument = argument+'category '+tid.value+'!';
			}
			
			tid = document.getElementById("ladderhardcoreinput");
			if(tid.value.includes('래더'))
			{
				argument=argument+"ladder Y!";
				
			}else
			{
				argument=argument+"ladder N!";
				
			}
			if(tid.value.includes('하드코어'))
			{
				argument=argument+"hardcore Y!";
				
			}else
			{
				argument=argument+"hardcore N!";
				
			}
			// countinput sellinput <- sellcategory
			tid = document.getElementById("rarityinput");
			if(tid.value!=null&&tid.value!='')
			{
				argument = argument+'rarity '+tid.value+'!';
			}
			tid = document.getElementById("countinput");
			if(tid.value!=null&&tid.value!='')
			{
				argument = argument+'itemcount '+tid.value+' 1000000!';
			}
			tid = document.getElementById("sellinput");
			if(tid.value!=null&&tid.value!='')
			{
				if(tid.value=='룬'||tid.value=='골드')
				{
					argument = argument+'sellcategory '+tid.value+'!';					
				}
			}
			
			
			
			//statfilter 1
			for(var i=1 ;i<cnt1;i++)			
			{
				// statfilter_mod
				var tempid=1;
				
				var statfilter1_arg="";
				var tid = document.getElementById("statfilter1_id"+String(i));
				
				if(tid==null||tid.value=='')
				{
					continue;
				}
				
				statfilter_mod.forEach(function(item)
				{
					if(tid.value==item.kokr)
					{
						statfilter1_arg = item.id;
						////console.log(item.id);
						return false;
					}
					
				}
					
				);
				tid = document.getElementById("statfilter1_level"+String(i));
				
				if(tid.checked){
					statfilter1_arg=statfilter1_arg+'C';	
				}
				
				
				tid = document.getElementById("statfilter1_min"+String(i));
				if(tid.value=="")
				{
					statfilter1_arg = statfilter1_arg +" "+String(-1000);
				}
				else
					statfilter1_arg = statfilter1_arg +" "+tid.value;
				tid = document.getElementById("statfilter1_max"+String(i));
				if(tid.value=="")
				{
					statfilter1_arg = statfilter1_arg +" "+1000+"!";
				}else
				{
					statfilter1_arg = statfilter1_arg +" "+tid.value+"!";
				}
					
				////console.log(statfilter1_arg);
				argument = argument+statfilter1_arg;
			}
			
			
			//statfilter 2
			for(var i=1 ;i<cnt2;i++)			
			{
				tid = document.getElementById("statfilter2_id"+String(i));
				vartid2 = document.getElementById("statfilter2_skill"+String(i));
				var statfilter2_arg="";
				if(tid==null||tid.value==""||vartid2.value=="")
				{
					continue;
				}	
				statfilter2_mod.forEach(function(item)
				{
					if(tid.value==item.kokr)
					{
						////console.log(item.id);
						////console.log(tid.value);
						////console.log(item.id);
						statfilter2_arg = statfilter2_arg+item.id;
						return false;
					}
					
				});
				
				
				statfilter2_skill.forEach(function(item)
				{
					if(vartid2.value==item.kokr)
					{
						////console.log(item.id);
						statfilter2_arg=statfilter2_arg+"S"+item.id;
						return false;
					}
					
				});
				tid = document.getElementById("statfilter2_min"+String(i));
				
				if(tid.value=="")
				{
					statfilter2_arg = statfilter2_arg +" "+String(-1000);
				}else
				{
					statfilter2_arg = statfilter2_arg +" "+tid.value;	
				}
				
						
				tid = document.getElementById("statfilter2_max"+String(i));
				if(tid.value=="")
				{
					statfilter2_arg = statfilter2_arg +" "+String(1000);
				}else
				{
					statfilter2_arg = statfilter2_arg +" "+tid.value;	
				}
				statfilter2_arg = statfilter2_arg+"!";
				
				argument= argument+statfilter2_arg;
			}
			////console.log("arg "+argument);
			//selObj.selectedIndex
			
			ajaxtest(argument);
			
		}
	    
	    function removestats()
	    {
			var temp = document.getElementById("name-search-bar1");
			temp.value='';
			temp = document.getElementById("categoryinput");
			temp.value='';
			temp = document.getElementById("rarityinput");
			temp.value='';
			temp = document.getElementById("countinput");
			temp.value='';
			temp = document.getElementById("sellinput");
			temp.value='';
			for(var i=1;i<cnt1;i++)
			{
				var div1 = document.getElementById("stat-filter-div-div"+String(i));
				if(div1!=null)
				{
					div1.remove();
				}
			}
			for(var i=1;i<cnt2;i++)
			{
				var div2 = document.getElementById("stat-filter2-div-div"+String(i));
				if(div2!=null)
				{
					div2.remove();
				}
			}
			cnt1=1;
			cnt2=1;
			
			if(runewordcnt==1)
			{
				var div3 = document.getElementById("runewordbar-div-div");
				runewordcnt=0;
				if(div3!=null)
				{
					div3.remove();
				}
			}
			
		}
	    
	    
		function Createstatbar(id1,value1,c1)
		{
			var row = document.getElementById("stat-filter-div");
			var div1 = document.createElement("div");
			div1.id = "stat-filter-div-div"+cnt1;
			div1.className="row";
			
			row.appendChild(div1);
			
			
			var div2 = document.createElement("div");
			div2.className="col-md-7";
			var div3 = document.createElement("div");
			div3.className="col-md-2";
			var div4 = document.createElement("div");
			div4.className="col-md-1";
			
			var div5 = document.createElement("div");
			div5.className="col-md-1";
			var div6 = document.createElement("div");
			div6.className="col-md-1";
			
			div1.appendChild(div2);
			div1.appendChild(div3);
			div1.appendChild(div4);
			div1.appendChild(div5);
			div1.appendChild(div6);
			
			var row2=document.createElement("row");
			var row3=document.createElement("row");
			var row4=document.createElement("row");
			var row5=document.createElement("row");
			var row6=document.createElement("row");
			
			div2.appendChild(row2);
			div3.appendChild(row3);
			
			div4.appendChild(row4);
			div5.appendChild(row5);
			div6.appendChild(row6);
			
			
			
			
			
			var row2_stat_filter=document.createElement("input");
			row2.appendChild(row2_stat_filter);
			
			var row3_level_button=document.createElement("input");
			row3.appendChild(row3_level_button);
			var row3_level_label=document.createElement("label");
			row3.appendChild(row3_level_label);
			
			var row4_min =document.createElement("input");
			row4.appendChild(row4_min);
			var row5_max =document.createElement("input");
			row5.appendChild(row5_max);
			
			var row6_closebutton =document.createElement("button");
			row6.appendChild(row6_closebutton);
			
			
			var obj = document.createElement("input");
		    
		    
		    
		    
		    row2_stat_filter.className="form-control";
		    row2_stat_filter.placeholder="스탯 필터";
		    row2_stat_filter.setAttribute('list','statfilter1mod');
		    		    
		   	row3_level_button.className="form-check-input";
		   	row3_level_button.type="checkbox"
		   	row3_level_label.className="form-check-label";
		   	row3_level_label.style.color = "white";
		   	row3_level_label.innerText=" 캐릭터레벨비례";
		   	
		    row4_min.placeholder="최소";
		    row4_min.className="form-control";
		    row5_max.placeholder="최대";
		    row5_max.className="form-control";
		    row6_closebutton.className="btn-close btn-close-white";
		    row6_closebutton.addEventListener('click', function(event){
		
				div1.remove();
			
	    	});
		    if(id1!=''&&value1!='')
	    	{
				row2_stat_filter.value=getidtovalue('statfilter1',id1);
				if(value1!='입력')
				{
					row4_min.value=value1;
					row5_max.value=value1;
				}
			}
			if(c1=='1')
			{
				row3_level_button.checked=true;
			}
		   	row2_stat_filter.id="statfilter1_id"+cnt1;
		   	row3_level_button.id="statfilter1_level"+cnt1;
		    row4_min.id="statfilter1_min"+cnt1;
			row5_max.id="statfilter1_max"+cnt1;
		    cnt1++;		    
		}
		
		function Createstatbar2(id1,skill1,value1)
		{
			var row = document.getElementById("stat-filter-div");
			var div1 = document.createElement("div");
			div1.id = "stat-filter2-div-div"+cnt2;
			div1.className="row";
			
			row.appendChild(div1);
			
			
			var div2 = document.createElement("div");
			div2.className="col-md-7";
			var div3 = document.createElement("div");
			div3.className="col-md-2";
			var div4 = document.createElement("div");
			div4.className="col-md-1";
			
			var div5 = document.createElement("div");
			div5.className="col-md-1";
			var div6 = document.createElement("div");
			div6.className="col-md-1";
			
			div1.appendChild(div2);
			div1.appendChild(div3);
			div1.appendChild(div4);
			div1.appendChild(div5);
			div1.appendChild(div6);
			
			var row2=document.createElement("row");
			var row3=document.createElement("row");
			var row4=document.createElement("row");
			var row5=document.createElement("row");
			var row6=document.createElement("row");
			
			
			div2.appendChild(row2);
			div3.appendChild(row3);
			div4.appendChild(row4);
			div5.appendChild(row5);
			div6.appendChild(row6);
			
			
					/*
				<datalist id="statfilter1mod"></datalist>
				<datalist id="namesearchoption"></datalist>
				<datalist id="statfilter2mod"></datalist>
				<datalist id="statfilter2skill"></datalist>
		*/
			
			
			var row2_stat_filter=document.createElement("input");
			row2.appendChild(row2_stat_filter);
			var row3_skill=document.createElement("input");
			row3.appendChild(row3_skill);
			
			
			var row4_min =document.createElement("input");
			row4.appendChild(row4_min);
			var row5_max =document.createElement("input");
			row5.appendChild(row5_max);
			var row6_closebutton =document.createElement("button");
			row6.appendChild(row6_closebutton);
			
			var obj = document.createElement("input");
		    
		    
		    row2_stat_filter.className="form-control";
		    row2_stat_filter.placeholder="스탯 필터";
		    row2_stat_filter.setAttribute('list','statfilter2mod');
		    		    
		    row3_skill.placeholder="스킬";
		    row3_skill.className="form-control";
		    row3_skill.setAttribute('list','statfilter2skill');		    
		    row4_min.placeholder="최소";
		    row4_min.className="form-control";
		    row5_max.placeholder="최대";
		    row5_max.className="form-control";
		    
		    row6_closebutton.className="btn-close btn-close-white";
		    row6_closebutton.addEventListener('click', function(event){
		
				div1.remove();
			
	    	});
		    row2_stat_filter.id="statfilter2_id"+cnt2;
		   	row3_skill.id="statfilter2_skill"+cnt2;
		    row4_min.id="statfilter2_min"+cnt2;
			row5_max.id="statfilter2_max"+cnt2;
		    if(id1!=''&&skill1!=''&&value1!='')
			{
				////console.log('id1'+id1);
				row2_stat_filter.value=getidtovalue('statfilter2',id1);
				row3_skill.value=getidtovalue('statfilter2skill',skill1);
				if(value1!='입력')
				{
					row4_min.value = value1;
					row5_max.value = value1;
				}
			}
		    // 변수 증가
		    cnt2++;		    
			//var btn = document.createElement("BUTTON");   // Create a <button> element
			//btn.innerHTML = "CLICK ME";                   // Insert text
			
			//document.body.appendChild(obj);               // Append <button> to <body>
		}
		var runewordcnt =0;
		function runewordbar()
		{
			if(runewordcnt==1)
			{
				return false;
			}
			runewordcnt=1;
			var row = document.getElementById("stat-filter-div");
			var div1 = document.createElement("div");
			div1.id = "runewordbar-div-div";
			div1.className="row";
			
			row.appendChild(div1);
			
			
			var div2 = document.createElement("div");
			div2.className="col-md-7";
			var div3 = document.createElement("div");
			div3.className="col-md-4";
			var div4 = document.createElement("div");
			div4.className="col-md-1";
			div1.appendChild(div2);
			div1.appendChild(div3);
			div1.appendChild(div4);
			var row2=document.createElement("row");
			div2.appendChild(row2);
			var row3=document.createElement("row");
			div3.appendChild(row3);
			var row4=document.createElement("row");
			div4.appendChild(row4);
			var row4_closebutton =document.createElement("button");
			row4.appendChild(row4_closebutton);
			row4_closebutton.className="btn-close btn-close-white";
		    row4_closebutton.addEventListener('click', function(event){
		
				div1.remove();
				runewordcnt=0;
	    	});
		
			var row3_button =document.createElement("button");
			row3.appendChild(row3_button);
			row3_button.innerHTML="룬워드 필터 가져오기";
			row3_button.className="btn btn-close-white";
			
			row3_button.addEventListener('click', function(event){
				//필터가져오기
				runewordname.forEach(function(item)
				{
					if(item.kokr==runewordbar.value)
					{
						ajaxgetfilter(item.id);
						return true;
					}
				});
	    	});
			
			var runewordbar=document.createElement("input");
			row2.appendChild(runewordbar);
			runewordbar.className="form-control";
			runewordbar.placeholder="룬워드 이름을 선택해주세요";
			runewordbar.setAttribute('list','runewordname');
			runewordbar.id="runewordbar1";
		}		
		function setfilter(itemfilterjson)
		{
			var rarity = itemfilterjson.rarity
			////console.log(rarity);
			if( rarity =='룬어')
			{
				runewordfilter(itemfilterjson);
			}else
			{
				anyfilter(itemfilterjson);
			}
		}
		
		function getidtovalue(mean,id)
		{
			var ret='';
			if(mean=="runeword")
			{
				runewordname.forEach(function(item)
				{
					if(id==item.id)
					{
						ret= item.kokr;
						return false;
					}						
				});	
			}
			if(mean=='statfilter1')
			{
				////console.log("getidtovaluea"+id);
				ret = '';
				statfilter_mod.forEach(function(item){
		   			if(id==item.id)
					{
						ret= item.kokr;
						return false;
					}
				});
				return ret;				
			}
			if(mean=='statfilter2')
			{
				 
				statfilter2_mod.forEach(function(item){
		   			if(id==item.id)
					{
						ret=item.kokr;
						return false;
					}
				});
			}
			if(mean=='statfilter2skill')
			{
				statfilter2_skill.forEach(function(item){
		   			if(id==item.id)
					{
						ret=item.kokr;
						return false;
					}
				});
			}
			return ret;
		}
		
		function runewordfilter(itemfilterjson)
		{
			document.getElementById('rarityinput').value='룬어';
			document.getElementById('countinput').value=itemfilterjson.itemcount;
			delete itemfilterjson.rarity;
			delete itemfilterjson.itemcount;
			delete itemfilterjson.runewordname;
			setfilters(itemfilterjson);
		}
		
		function anyfilter(itemfilterjson)
		{
			document.getElementById('rarityinput').value=itemfilterjson.rarity;
			document.getElementById('countinput').value=itemfilterjson.itemcount;
			document.getElementById('categoryinput').value=itemfilterjson.itemcategory;
			delete itemfilterjson.rarity;
			delete itemfilterjson.itemcount;
			delete itemfilterjson.itemcategory;
			delete itemfilterjson.itemname;
			setfilters(itemfilterjson);
		}
		function setfilters(itemfilterjson)
		{
			var keys = Object.keys(itemfilterjson);
			
			////console.log(keys);
			
			keys.forEach(function (item)
			{
				if(item.indexOf('C')!=-1)
				{
					var id1= item.split('C');
					Createstatbar(id1[0],itemfilterjson[item],'1');
					////console.log("레벨 비례 스탯필터 1");					
				}else if(item.indexOf('S')!=-1)
				{
					////console.log(item);
					var id_skill= item.split('S');
					Createstatbar2(id_skill[0],id_skill[1],itemfilterjson[item]);
					////console.log("스탯필터2");
				}else
				{
					
					Createstatbar(item,itemfilterjson[item],'0');
					////console.log("스탯필터1");
				}
			});
		}
		
		
		
		
		function ajaxgetfilter(arg)
		{
			////console.log("ajaxtest "+arg);
			
			$.ajax({
				url:address+"/getitemfilter",
				type:"GET",
				dataType: "JSON",
				data: 'param='+encodeURI(arg),
				/*
				data:
				*/
				success: function(result) {
					if (result) {
						setfilter(result);
						
					} else {
					alert("불러오기 실패 현재 필터가 존재하지 않습니다.");
					}
				},
				error : function(error) {
        			alert("불러오기 실패 잠시 후 다시 시도해 주시기 바랍니다.");
    			}
			});

	
		}
		//ajaxtest();
		function customSort(a, b) 
		{ 
			if(a.sellingnum == b.sellingnum)
			{
				 return 0;
			} 
				return a.total > b.total ? -1 : 1; 
		}

		function addtablerow(itemlist)
		{
			
			var table1 = document.getElementById('searchitemtable');
			itemlist.sort(customSort);
			//console.log(table1.rows.length);
			for(var x =table1.rows.length;x>1;x--)
			{
				table1.deleteRow(1);
			}			
			itemlist.forEach(function(item){
				var i = table1.rows.length;
				var row = table1.insertRow(i);
				row.insertCell(0).innerHTML=item.BattleTag;
				table1.style='text-align: center; vertical-align: middle;"';
				row.insertCell(1).innerHTML=item.description;
				
				
				
				
				row.insertCell(2).innerHTML=item.itemcount;
				var sellingprice = String(item.sellingprice);
				if(sellingprice.indexOf('골드')!=-1)//골드
				{
						sellingprice = sellingprice.replace('!','<br>');
				}else if(sellingprice.indexOf('룬')!=-1)
				{
					sellingprice = sellingprice.replace('!','<br>')+'개';
				}
				var now = new Date();
				var iddate = String(item.InputTime);
				var itemdate = new Date();
				
				itemdate.setFullYear(iddate.substring(0,4));
				
				itemdate.setMonth(iddate.substring(4,6)-1);
				itemdate.setDate(iddate.substring(6,8));
				itemdate.setHours(iddate.substring(8,10));
				itemdate.setMinutes(iddate.substring(10,12));
				itemdate.setSeconds(iddate.substring(12,14));
				//*60*24
				var decisiontime = Math.floor((now-itemdate)/(1000*60));
				if(decisiontime>=1440)
				{
					row.insertCell(3).innerHTML=Math.floor((now-itemdate)/(1000*3600*24))+'일전 등록<br>'+item.itemcomment;
				}
				else if(decisiontime>0&&decisiontime<60)
				{
					row.insertCell(3).innerHTML=Math.floor((now-itemdate)/(1000*60))+'분전 등록<br>'+item.itemcomment;	
				}else
				{
					row.insertCell(3).innerHTML=Math.floor((now-itemdate)/(1000*3600))+'시간전 등록<br>'+item.itemcomment;	
				}
				
				
				row.insertCell(4).innerHTML=sellingprice;
				var btn = document.createElement("button");
				btn.className='btn btn-light';
				btn.innerHTML='귓속말 복사';
				btn.addEventListener('click', function(event){
					var sp =sellingprice.replace('<br>',' ');
					var whisper='/w '+item.BattleTag+' 올려두신 '+item.identifier+'를 '+ sp+'로 사고 싶습니다.';
					//console.log(whisper);
					navigator.clipboard.writeText(whisper);
	                
	                alert("귓속말 내용이 복사되었습니다");
	        		
	    		});
				row.insertCell(5).appendChild(btn);
				
				 
			});
		}
		
		
		function ajaxtest(arg)
		{
			//console.log("	test "+arg);
			$.ajax({
				url:address+"/getddbitem",
				
				type:"GET",
				dataType: "json",
				data:'param='+encodeURI(arg),
				success: function(result) {
					
				if (result[0].none=='1') {
					
					alert("조건에 해당하는 아이템이 없습니다.");
					
				} else {
					
					//console.log(result);
					result.sort(function(a,b)
					{
						return Number(a.sellingnum)-Number(b.sellingnum);
					})
					addtablerow(result);
				}
				}
			});
		}
		</script>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
